@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Admin">

    <Authorized>
        <div class="row " style="height:100vh ">
            <div class="d-flex justify-content-center align-items-center">
                <h3>Estas autenticado y autorizado, @context.User.Identity?.Name</h3>
            </div>
        </div>
    </Authorized>
    
    <NotAuthorized>
        <div class="row " style="height:100vh ">
            <div class="d-flex justify-content-center align-items-center">
                <h3>*** Bienvenido a WebAppComercial ***</h3>
            </div>
        </div>
    </NotAuthorized>

</AuthorizeView>