@page "/suppliers/edit/{Id:int}"
@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Proveedor</h3>

@if (loading)
{
    <Spinner />
}
else
{
    <SupplierForm @ref="supplierForm" SupplierDTO="supplierDTO" OnValidSubmit="EditAsync" ReturnAction="Return" />
}


@code {
    private SupplierDTO supplierDTO = new SupplierDTO();
    private SupplierForm? supplierForm;
    private Supplier? supplier;
    private bool loading = true;

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        var responseHTTP = await repository.Get<Supplier>($"/api/suppliers/{Id}");
        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("suppliers");
                return;
            }
            else
            {
                loading = false;
                var messageError = await responseHTTP.GetErrorMessage();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
                return;
            }

        }
        supplier = responseHTTP.Response!;
        supplierDTO = ToSupplierDTO(supplier);
        loading = false;
    }

    private SupplierDTO ToSupplierDTO(Supplier supplier)
    {
        return new SupplierDTO
            {
                Id = supplier.Id,
                Name = supplier.Name,
                Address = supplier.Address,
                CellPhone = supplier.CellPhone,
                ContactName = supplier.ContactName,
                Document = supplier.Document,
                DocumentTypeId = supplier.DocumentTypeId,
                Email = supplier.Email,
                LandPhone = supplier.LandPhone,
                Remarks = supplier.Remarks
            };
    }

    private async Task EditAsync()
    {
        var responseHTTP = await repository.Put("/api/suppliers", supplierDTO);
        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessage();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            return;
        }
        supplierForm!.FormPostedSuccessfully = true;
        var toast = swal.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.Center,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
        
        await BlazoredModal.CloseAsync(ModalResult.Ok());
        navigationManager.NavigateTo("/suppliers");
    }

    private void Return()
    {
        supplierForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/suppliers");
    }
}
